################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Code/Register-Patient-Online/Views/Tintuc/Component.razor
