@{
    Layout = "_Layout";  // Sử dụng layout chung đã tạo ở trên
    ViewData["Title"] = "Admin Home Page";
}

<h1>Welcome to the Admin Home Page</h1>
<p>This is the content of the home page.</p>


<h2>Trang quản trị</h2>

<div>
    <!-- Nút điều hướng đến trang danh sách tin tức -->
    <a asp-controller="TinTuc" asp-action="Index" class="btn btn-primary">Quản lý Tin Tức</a>
</div>

