@model Register_Patient_Online.Models.GioiThieu

@{
    ViewData["Title"] = "GIỚI THIỆU BỆNH VIỆN SIU";
}

<h1 class="text-center text-primary my-4">GIỚI THIỆU BỆNH VIỆN</h1>

<div class="container">
    <div class="row">
        <!-- Nội dung Giới Thiệu Bệnh Viện -->
        <div class="col-md-12 shadow-lg p-4 bg-light rounded">
            <h3 class="text-center">Chào mừng đến với Bệnh Viện SIU</h3>
            <p class="text-justify">
                Bệnh viện SIU là một trong những cơ sở y tế hàng đầu tại khu vực. Với đội ngũ bác sĩ, y tá chuyên nghiệp cùng trang thiết bị hiện đại, bệnh viện chúng tôi cam kết mang đến những dịch vụ y tế tốt nhất cho bệnh nhân.
            </p>
            <h4 class="mt-4">Dịch vụ của chúng tôi</h4>
            <ul>
                <li>Khám chữa bệnh tổng quát</li>
                <li>Phẫu thuật chuyên sâu</li>
                <li>Chăm sóc sức khỏe định kỳ</li>
                <li>Chẩn đoán hình ảnh</li>
                <li>Thăm khám chuyên khoa</li>
            </ul>
            <h4 class="mt-4">Địa chỉ liên hệ</h4>
            <p>
                Địa chỉ: 10 Tống Hữu Định, Quận 2, Thành phố HCM<br />
                Số điện thoại: 0941434257<br />
                Email: siu.edu.vn
            </p>
        </div>
    </div>
</div>


<!-- Đảm bảo Font Awesome được tải đúng -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
